<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService1" transactionFlow="true" />
                <binding name="WSHttpBinding_IService11" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53014/Service1.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService1" contract="TransactionCreditService.IService1"
                name="WSHttpBinding_IService1">
                <identity>
                    <userPrincipalName value="Sebastian_W@apac.dell.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:53015/Service1.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService11" contract="TransactionDebitService.IService1"
                name="WSHttpBinding_IService11">
                <identity>
                    <userPrincipalName value="Sebastian_W@apac.dell.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>