<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SampleDbConnectionString1" connectionString="Data Source=W105GY82G2;Initial Catalog=TestDB;Integrated Security=SSPI;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="bindingConfig" closeTimeout="00:10:00" transactionFlow="true"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" />
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="TransactionDebitService.Service1">
        <endpoint address="" binding="wsHttpBinding"
          bindingConfiguration="bindingConfig" contract="TransactionDebitService.IService1" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
